<div class="content-container">
  <table class="">
    <thead>
      <tr>
        <th><%= sort_link(Song.human_attribute_name(:id)) %></th>
        <th><%= Song.human_attribute_name(:name) %></th>
        <th><%= Song.human_attribute_name(:created_at) %></th>
        <th><%= Song.human_attribute_name(:artist) %></th>
        <th><%= Song.human_attribute_name(:member) %></th>
        <th><%= Song.human_attribute_name(:status) %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% songs.each do |song| %>
        <tr class="<%= 'deleted' if song.deleted_at.present? %>">
          <td><%= song.id %></td>
          <td><%= song.name %></td>
          <td><%= song.created_at.strftime("%d-%m-%y") %></td>
          <td><%= song.artist_name %></td>
          <td><%= song.member_name %></td>
          <td><%= song.status %></td>
          <td>
            <% if song.deleted_at %>
              <%= link_to("Res", delete_admin_song_path(song), method: :post, class: "restore-link") %>
            <% else %>
              <%= link_to("Del", delete_admin_song_path(song), method: :post, data: { confirm: "Are you sure?" }, class: "delete-link") %>
            <% end %>
            <%= link_to("Info", admin_song_path(song), class: "more-link", remote: true) %>
            <%#= song.show_button('btn-xs') %>
            <%#= song.remove_device_id_button('btn-xs') %>
            <%#= song.edit_button('btn-xs') %>
            <%#= song.delete_button('btn-xs') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
