<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 remove-padding">
      <%= render 'filters' %>
    </div>
    <div class="col-sm-9">
      <div class="records-table">
        <h1>
          <%= @songs_count %>
          <%= Song.model_name.human(count: @songs_count) %>
        </h1>
        <div class="action-buttons pull-right">
          <%= link_to("Add Song", new_admin_song_path, class: "btn-round-transparent") %>
        </div>
        <%= render 'songs_table', songs: @songs %>
      </div>
    </div>
  </div>
</div>
<div id="current_song">
</div>
