<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <% if !@no_nav %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <% end %>
      <%= link_to(root_path, class: "root-logo-link clean") do %>
        <%= "Nostalgique" %>
      <% end %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <% if !@no_nav_links %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Members", admin_members_path %>
          </li>
          <li>
            <%= link_to "Songs", admin_songs_path %>
          </li>
          <li>
            <%= link_to "Artists", admin_artists_path %>
          </li>
          <% if current_user %>
            <li>
              <%= link_to "Logout #{current_user.name}", log_out_members_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Login', log_in_members_path %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="navbar-nav-placeholder">
        </div>
      <% end %>
    </div><!--/.nav-collapse -->
  </div>
</nav>
