<nav class="navbar navbar-expand-lg navbar-light">
  <%= link_to("Nostalgique", root_path, class: "root-logo-link") %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "<span>Songs</span>".html_safe, songs_path %>
      <%= link_to "<span>Artist</span>".html_safe, artists_path %>
      <%= link_to "<span>Add song</span>".html_safe, new_song_path %>
      <% if current_member %>
          Signed in as <%= current_member.first_name %>&nbsp;/&nbsp; <%= link_to "<span>Logout</span>".html_safe, log_out_members_path, method: :delete %>
      <% else %>
          <%= link_to "<span>Login</span>".html_safe, log_in_members_path %>&nbsp;/&nbsp;<%= link_to "<span>Signup</span>".html_safe, '/signup' %>
      <% end %>
    </div>
  </div>
</nav>
