<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <% if !@no_nav %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <% end %>
      <%= link_to(root_path, class: "root-logo-link") do %>
        <%= "Nostalgique" %>
      <% end %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <% if !@no_nav_links %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "<span>Songs</span>".html_safe, songs_path %>
          </li>
          <li>
            <%= link_to "<span>Artist</span>".html_safe, artists_path %>
          </li>
          <li>
            <%= link_to "<span>Add song</span>".html_safe, new_song_path %>
          </li>
          <li>
            <%#= link_to "Donate", new_order_path, class: "pull-right" %>
          </li>
          <% if current_member %>
            <li>
              Signed in as <%= current_member.first_name %>&nbsp;/&nbsp; <%= link_to "<span>Logout</span>".html_safe, log_out_members_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "<span>Login</span>".html_safe, log_in_members_path %>&nbsp;/&nbsp;<%= link_to "<span>Signup</span>".html_safe, '/signup' %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="navbar-nav-placeholder">
        </div>
      <% end %>
    </div><!--/.nav-collapse -->
  </div>
</nav>
