<section class="banner">
  <div class="container">
    <div class="banner-title">
      <h1>Welcome to Nostalgique, a random pick of French songs translated to English!</h1>
    </div>
  </div>
</section>

<section class="song-cards">
  <div class="container">
    <div class="flex-container">
      <% @songs.each_with_index do |song, i| %>
        <%= link_to(song_path(song), class: "song-flex item-#{i} clean") do %>
          <div class="song-card" %>
            <div class="song-text">
              <h3><%= song.name %> - <%= song.artist.name %></h3>
              <p><%= truncate song.lyrics, length: 350 %></p>
            </div>
            <div class="song-image">
              <%= image_tag(song.image_url(:thumb).to_s) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
