<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-2">
      <div class="add-song-card fetch-song-card">
        <div class="song-form">
          <h2>Found song on Spotify!</h2>
          <%= simple_form_for @song_wizard, as: :song_wizard, url: validate_step_song_path do |f| %>
            <%= f.error_notification %>
            <%= hidden_field_tag :current_step, 'step3' %>
            <div class="input-field">
              <h3>Is this your song?</h3>
              <%= f.input :spotify_track_id, as: :radio_buttons, label: false %>
            </div>
            <div class="form-action">
              <%= f.submit 'Continue', class: "button-standard" %>
            </div>
          <% end %>
        </div>
        <div class="song-card" %>
          <div class="song-text">
            <h3><%= @song.name %> - <%= @song.artists.first.name %></h3>
          </div>
          <div class="song-image">
            <%= image_tag(@song_image) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
