<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-2">
      <div class="add-song-card fetch-song-card">
        <h3>Found song on Spotify!</h3>
        <%= simple_form_for @song_wizard, as: :song_wizard, url: validate_step_song_path do |f| %>
          <%= f.error_notification %>
          <%= hidden_field_tag :current_step, 'step3' %>

          <div>
            <%= "Song found!: #{@song.name} - From album: #{@song.album.name}" %>
          </div>
          <div class="form-action">
            <%= f.submit 'Continue without checking Spotify', class: "button-standard" %>
          </div>
        <% end %>
        <div class="song-card" %>
          <div class="song-text">
            <h3><%= @song.name %> - <%= @song.artists.first.name %></h3>
          </div>
          <div class="song-image">
            <%= image_tag(@song.album.images[1]["url"]) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
