<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="add-song-card">
        <h2>Let's add a song!</h2>
        <%= simple_form_for @song_wizard, as: :song_wizard, url: validate_step_song_path do |f| %>
          <%= f.error_notification %>

          <%= hidden_field_tag :current_step, 'step4' %>
          <%= f.input :lyrics, as: :text, autofocus: true, input_html: {style: 'width: 100%', rows: 20, class: 'response-project'}, label: 'Please enter the original French lyrics?', error: 'Please specify song lyrics' %>
          <div class="form-action">
            <%= f.submit 'Continue', class: "button-standard" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
