<!DOCTYPE html>
<html>
  <head>
    <title>Nostalgique</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'stylesheets' %>

    <meta name="description" content="learn French by chanson">
    <meta name="keywords" content="french, learn, chanson, song, english, study, language">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'shared/navbar' %>
    <div id="main-content" class="main-content">
      <%= flash_msgs %>
      <%= yield %>
      <div id="js-content"></div>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_pack_tag 'index' %>
  </body>
</html>
