<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="sign-up-card">
        <h3>Sign Up</h3>
        <%= simple_form_for :member, url: '/members' do |f| %>
          <%= f.error_notification %>

          <%= f.input :first_name, label: 'First Name' %>
          <%= f.input :last_name, label: 'Last Name' %>
          <%= f.input :gender, label: 'Gender' %>
          <%= f.input :email, label: 'Email' %>
          <%= f.input :password, label: 'Password' %>
          <div class="form-action">
            <%= f.submit 'Sign up', class: "button-standard" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
